:root {
    --fs-xl: 9rem;
    --fs-lg: 7.2rem;
    --fs-700: 4rem;
    --fs-600: 3.2rem;
    --fs-500: 2.4rem;
    --fs-400: 1.6rem;
    --fs-300: 1.4rem;

    --clr-black-pearl: hsl(235, 72%, 7%); 
    --clr-teal: hsl(198, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-violet: hsl(247, 66%, 15%);
    --clr-heliotrope: rgb(76, 0, 255);
}